* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
    font-size: 100%;
}

html {
    font-family: Poppins;
}

body {
    width: 100%;
    background-color: black;
}

header,footer {
    color:white;
    text-align: center;
}

header {
    margin: 30px 0 50px 0;
}

footer {
    margin: 10px auto;
}

h1 {
    font-size: 48px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
}

.construction {
    background-image: url(./projectImages/Website-Under-Construction.jpg);
    background-size: cover;
    margin: 1%;
    width:15%;
    height: 30vh;
}

/* Responsiveness */

@media only screen and (max-width:991px) {
    .projects img {
        margin: 2%;
        width: 90vw;
    }
}

@media only screen and (max-width:360px) {
    h1 {
        font-size: 30px;
    }
}